*.pyc
config.py
__pycache__/
__pycache__\\
__pycache__\
OptOut.json
bad_words.csv
testing.py
logs\\
logs\
*.pb
*.data-00000-of-00002
*.index
*.data-00001-of-00002
saveandload.py
discord.log
tempWin\\
tempWin\\config.py
tempWin\\testing.py
tempWin\\testing2.py
tempWin\\testing3.py
tempWin\\hours9-14.json
tempWin\\mem_test.py
tempWin\\mem_notes.txt
tempWin/online_bar09142020.png
tempWin/hours9-14.json
tempWin/combined_bar09142020.png
tempWin/combined_scatter09142020.png
tempWin/offline_bar09142020.png
tempWin/testing2.py
tempWin/testing3.py
AWS_RDS/Table Formats.txt
AWS_RDS/Table Formats.md
AWS_RDS/network layout.txt
AWS_RDS/templates.txt
Production/old_functions.txt
tempWin/mem_notes.txt
tempWin/mem_test.py
ML_data/data_pulls.py
ML_data/monthBSGuide.csv
ML_data/stats_log.csv
stats_stuff/stats_notes1.txt
ML_data/testing3.py
stats_stuff/sepPoccessing.py
stats_stuff/Confidence_Intervals.txt
stats_stuff/OLD.py
stats_stuff/Random_Math_Formating.py
stats_stuff/makeReports.py
stats_stuff/count_over_time_convert.py
stats_stuff/test.html
stats_stuff/requirements.csv
stats_stuff/test.py
stats_stuff/proccessing1.py
stats_stuff/report1.html
stats_stuff/aug_data/aug_daysOffline.csv
stats_stuff/aug_data/aug_daysOnline.csv
stats_stuff/aug_data/aug_hourOffline.csv
stats_stuff/aug_data/aug_hourOnline.csv
stats_stuff/aug_data/aug_combined_day.csv
stats_stuff/aug_data/aug_combined_Hour.csv
stats_stuff/june_data/june_daysOffline.csv
stats_stuff/june_data/june_daysOnline.csv
stats_stuff/june_data/june_hourOffline.csv
stats_stuff/june_data/june_hourOnline.csv
stats_stuff/june_data/june_combined_day.csv
stats_stuff/june_data/june_combined_Hour.csv
stats_stuff/july_data/july_daysOffline.csv
stats_stuff/july_data/july_daysOnline.csv
stats_stuff/july_data/july_hourOffline.csv
stats_stuff/july_data/july_hourOnline.csv
stats_stuff/july_data/july_combined_day.csv
stats_stuff/july_data/july_combined_Hour.csv
stats_stuff/sep_data/sep_daysOffline.csv
stats_stuff/sep_data/sep_daysOnline.csv
stats_stuff/sep_data/sep_hourOffline.csv
stats_stuff/sep_data/sep_hourOnline.csv
stats_stuff/sep_data/sep_combined_day.csv
stats_stuff/sep_data/sep_combined_Hour.csv
stats_stuff/temp.csv
stats_stuff/process2.py
stats_stuff/ml_files.csv
stats_stuff/sata_files.csv
